
@keyframes show-toast {
  0% { top: -50px; opacity: 0; display: block; }
  10% { top: 20px; opacity: 1; }
  90% { top: 20px; opacity: 1; }
  100% { top: -50px; opacity: 0; display: none; }
}

.show-notification {
  position: fixed;
  top: -50px;  /* Initially hidden */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  animation: show-toast 3s ease-in-out forwards;
  z-index: 99999; /* Ensures it's above everything */
}

.hover-red-link:hover {
  color: #dc3545 !important;
}

input[type="text"]{
  color: #808080 !important;
}

input[type="text"]::-webkit-input-placeholder {
  color: #808080 !important;
}

input[type="text"]:-moz-placeholder {
  color: #808080 !important;
}

input[type="text"]::-moz-placeholder {
  color: #808080 !important;
}

input[type="text"]:-ms-input-placeholder {
  color: #808080 !important;
}

.opening_hours {
  width: 100%;
}

#opening-hours select{
  padding: 5px 10px !important;
}

@media (min-width: 768px) {
  .opening_hours {
    width: 60%;
  }
}

.add-hour{
  padding: 7px 15px 7px 15px
}


@media only screen and (max-width: 480px) {
  a.get-start-btn {
    display: block;
    margin-top: 15px !important;
    margin-left: 0px;
  }
  .main-search-bar {
    padding-top: 100px  !important;
    padding-bottom: 50px !important;
    background-position: left !important;
  }
  .user-dashboard{
    width: 100% !important;
  }
}
