{% extends 'base.html' %}
{% load static %}

<!-- Main Section Start -->
{% block content %}
<!-- Message Display -->
{% include 'component/alerts.html' %}

<!-- Main Section Start -->
<div class="main-section pt-5">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="tabs-holder horizontal">
            <ul class="stickynav-tabs nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Review your billing address</a></li>
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane in active">
                <div class="menu-itam-holder">
                  <div id="menu-item-list-6272" class="menu-itam-list">
                    <div class="billing-address" style="padding-top:10px;padding-bottom: 10px;">
                      <h3>{{ order.name }}</h3>
                      <p>{{ order.address }}</p>
                      <p>{{ order.city }} - {{ order.pincode }}</p>
                      <p>{{ order.state }}, {{ order.country }}</p>
                      <p><strong>Phone:</strong> {{ order.phone }}</p>
                      <p><strong>Email:</strong> {{ order.email }}</p>
                      <p><strong>Payment:</strong> {{ order.payment_method }}</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Your Order Subsection-->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="tabs-holder horizontal">
            <ul class="stickynav-tabs nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>

            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane in active">
                <div class="menu-itam-holder">
                  <div>
                    <ul>
                      {% for item in cart_items %}
                        <li style="list-style: none;">
                          <div class="row align-items-center py-2">
                            <!-- Image -->
                            <div class="col-auto">
                              {% if item.food_item.image %}
                                <img src="{{ item.food_item.image.url }}" width="50" class="rounded" alt="Food Image">
                              {% else %}
                                <img src="{% static 'images/no-image.png' %}" width="50" class="rounded" alt="No Image">
                              {% endif %}
                            </div>
                          
                            <!-- Details -->
                            <div class="col">
                              <strong class="mb-1" style="font-size: 14px;">{{ item.food_item.food_title }}  
                                <small class="text-muted">x {{ item.quantity }}</small>
                              </strong>
                              <p class="mb-1 text-muted">{{ item.food_item.description }}</p>
                              <a href="{% url 'vendor_detail' item.food_item.vendor.slug %}" class="badge bg-warning text-dark">
                                {{ item.food_item.vendor.vendor_name }}
                              </a>
                            </div>
                          
                            <!-- Price -->
                            <div class="col-auto text-end">
                              <strong>${{ item.food_item.price }}</strong>
                            </div>
                          </div>                          
                        </li>
                      {% endfor %}
                    </ul>
                    <ul>
                      <li style="list-style-type: none;">
                        Subtotal
                        <span class="price float-right">
                          <span class="currency">$</span>
                          <span id="subtotal"> {{ cart_amount.subtotal }} </span>
                        </span>
                      </li>
                      {% for tax in cart_amount.tax_details %}
                        <li style="list-style-type: none;">
                          {{ tax.type }} ( {{ tax.percentage }} %)
                          <span class="price float-right">
                            <span class="currency">$</span>
                            <span id="tax-{{ tax.type }}">{{ tax.amount }}</span>
                          </span>
                        </li>
                      {% endfor %}
                      <li style="list-style-type: none;font-weight: 600;">
                        Total
                        <span class="price float-right">
                          <span class="currency">$</span>
                          <span id="grand_total">{{ cart_amount.grand_total }}</span>
                        </span>
                      </li>
                      <!-- Payal Checkout button -->
                      <div id="paypal-button-container"></div>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Main Section End -->

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  const grand_total = "{{ cart_amount.grand_total }}";
  const save_payment_url = "{% url 'payments' %}";
  const order_number = "{{ order.order_number }}";
  const csrftoken = getCookie('csrftoken');
  const order_complete_url = "{% url 'order_complete' %}";

  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: grand_total
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        let transaction = details.purchase_units[0].payments.captures[0];
        console.log(transaction);

        let transaction_id = transaction.id;
        let status = details.status

        let payment_method = 'PayPal'

        sendTransaction(transaction_id, payment_method, status)
        const ele = document.getElementById('paypal-button-container')
        ele.innerHTML = ''
        ele.innerHTML = '<h4 class="text-center"><i class="fa fa-spinner fa-spin"></i>Please wait..... </h4'
      });
    }
  }).render('#paypal-button-container');

  function sendTransaction(transaction_id, payment_method, status){
    $.ajax({
      type: 'POST',
      url: save_payment_url,
      data:{
        'order_number': order_number,
        'transaction_id': transaction_id,
        'payment_method': payment_method,
        'status': status,
        'csrfmiddlewaretoken': csrftoken
      },
      success: function(response){
        console.log(response)
        window.location.href = order_complete_url + '?order_no='+response.order_number + '&tran_id=' + response.transaction_id
      }
    })
  }

  
</script>


{% endblock %}